<div *ngIf="video" class="root">

    <!-- Movie Or TV -->
    <div class="type-tag" [class.type-tv]="video.isTV" [class.type-movie]="!video.isTV">
        <ng-container *ngIf="video.isTV">
            <div class="number" (click)="onNumberClick()">{{video.seqId}}</div>
        </ng-container>
        <div class="number" (click)="onNumberClick()" *ngIf="!video.isTV">M</div>
    </div>

    <!-- Watch Icon -->
    <div style="background-color: powderblue;">
        <button mat-icon-button (click)="watchIconClick()">
            <mat-icon [class.checked]="watched" [class.unchecked]="!watched">check_box</mat-icon>
        </button>
    </div>

    <!-- Title -->
    <div *ngIf="!hideTitle || detailMode" class="title" [title]="video.title" [class.title-detail]="detailMode">
        {{video.title}}

        <span *ngIf="detailMode && !video.biliPlayId">播放地址：暂无</span>
        <a *ngIf="detailMode && video.biliPlayId" class="play-link" target="_blank"
            [href]="'https://www.bilibili.com/bangumi/play/'+video.biliPlayId">播放地址</a>

    </div>

</div>