<div *ngIf="video" class="root">

    <!-- Movie Or TV -->
    <div class="type-tag" [class.type-tv]="video.isTV" [class.type-movie]="!video.isTV">
        <ng-container *ngIf="video.isTV">
            <div>{{video.seqId}}</div>
        </ng-container>
        <ng-container *ngIf="!video.isTV">M</ng-container>
    </div>

    <!-- Watch Icon -->
    <div style="background-color: powderblue;">
        <button mat-icon-button (click)="watchIconClick()">
            <mat-icon [class.checked]="watched" [class.unchecked]="!watched">check_box</mat-icon>
        </button>
    </div>

    <!-- Title -->
    <div class="title" [title]="video.title">
        {{video.title}}
    </div>

</div>