<mat-toolbar color="primary">

    <!-- wesite name -->
    <span>Conan Dashboard</span>

    <!-- middle expand -->
    <span class="example-spacer"></span>

    <!-- if has logged in, show logout -->


    <!-- if not logged in, show login and register -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>


<div>
    <router-outlet></router-outlet>
</div>