<mat-toolbar color="primary">

    <!-- wesite name -->
    <span>Conan Dashboard</span>

    <ng-container *ngIf="(auth.me$ | async) as me">
        <a mat-button routerLink="/progress">观看进度</a>
    </ng-container>

    <!-- middle expand -->
    <span class="example-spacer"></span>

    <!-- if has logged in, show logout and user info -->
    <ng-container *ngIf="(auth.me$ | async) as me">
        <button mat-button (click)="logoutButtonOnClick()">登出</button>
        <span>{{me.username}}</span>
    </ng-container>

    <!-- if not logged in, show login and register -->
    <ng-container *ngIf="(auth.me$ | async) == null">
        <a mat-button routerLink="/login">登录</a>
        <a mat-button routerLink="/register">注册</a>
    </ng-container>
</mat-toolbar>


<div>
    <router-outlet></router-outlet>
</div>