.recent-item {
    display: inline-block;
    margin: 0 0.4rem;
    background-color: wheat;
}

.num-item {
    display: inline-block;
    background-color: lightpink;
}

.time-item {
    background-color: lightblue;
    display: inline-block;
}

.lrsep {
    margin-right: 1rem;
    margin-left: 1rem;
}

.line-description {
    background-color: lightpink;
}
