<div class="container">

    <h1>注册</h1>

    <div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
            <div>
                <mat-form-field>
                    <input placeholder="用户名" matInput formControlName="username">
                    <mat-error>{{hinter.formField(form,'username')}}</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <input type="password" placeholder="密码" matInput formControlName="password">
                    <mat-error>{{hinter.formField(form,'password')}}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <button mat-button mat-flat-button type="submit" color="primary" [disabled]="form.invalid">注册</button>
            </div>

        </form>
    </div>


</div>